[submodule ".riving/ripl"]
	path = .riving/ripl
	url = https://github.com/cldwalker/ripl
[submodule ".riving/irbfiles"]
	path = .riving/irbfiles
	url = https://github.com/cldwalker/irbfiles
[submodule ".riving/boson"]
	path = .riving/boson
	url = https://github.com/cldwalker/boson
[submodule ".riving/nirvana"]
	path = .riving/nirvana
	url = https://github.com/cldwalker/nirvana
[submodule ".riving/d3"]
	path = .riving/d3
	url = https://github.com/mbostock/d3
[submodule ".riving/hirb"]
	path = .riving/hirb
	url = https://github.com/cldwalker/hirb
[submodule ".riving/puppet-module-tool"]
	path = .riving/puppet-module-tool
	url = https://github.com/puppetlabs/puppet-module-tool
[submodule ".riving/em-websocket"]
	path = .riving/em-websocket
	url = https://github.com/igrigorik/em-websocket
[submodule ".riving/puppet"]
	path = .riving/puppet
	url = https://github.com/technogeeky/puppet
[submodule ".riving/facter"]
	path = .riving/facter
	url = https://github.com/technogeeky/facter
[submodule ".riving/mym"]
	path = .riving/mym
	url = https://github.com/liehann/maybeyoumeant
